# Data Collection & Cleaning

In [13]:
import pandas as pd

data = pd.read_csv("Coffe_sales (4).csv")

# count and display the total number of duplicate rows

In [14]:
print(data.duplicated().sum())
data = data.drop_duplicates()

0

# handle missing values (remove rows with any NaN)

In [15]:
data = data.dropna()

# Correct formatting issues

In [16]:
# Convert date to proper datetime
data['Date'] = pd.to_datetime(data['Date'], errors='coerce')

# Fix time formatting (replace '.' with ':')
data['Time'] = data['Time'].astype(str).str.replace('.', ':', regex=False)

# Standardize capitalization for categorical columns
for col in ['cash_type', 'coffee_name', 'Time_of_Day', 'Weekday', 'Month_name']:
    data[col] = data[col].str.strip().str.title()

# View cleaned data

In [17]:
print(data.info())
print(data.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3547 entries, 0 to 3546
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   hour_of_day  3547 non-null   int64
 1   cash_type    3547 non-null   object
 2   money        3547 non-null   float64
 3   coffee_name  3547 non-null   object
 4   Time_of_Day  3547 non-null   object
 5   Weekday      3547 non-null   object
 6   Month_name   3547 non-null   object
 7   Date         3547 non-null   datetime64[ns]
 8   Time         3547 non-null   object
dtypes: datetime64[ns](1), float64(1), int64(1), object(6)
memory usage: 249.5+ KB
None
   hour_of_day cash_type  money    coffee_name Time_of_Day Weekday Month_name  \
0           10      Card   38.7          Latte     Morning     Fri        Mar
1           12      Card   38.7  Hot Chocolate   Afternoon     Fri        Mar
2           12      Card   38.7  Hot Chocolate   Afternoon     Fri        Mar
3           13      Card   28.9      Americano   Afternoon     Fri        Mar
4           13      Card   38.7          Latte   Afternoon     Fri        Mar

        Date     Time
0 2024-03-01  15:50:5
1 2024-03-01  19:22:5
2 2024-03-01  20:18:1
3 2024-03-01  46:33:0
4 2024-03-01  48:14:6

# Export Clean Dataset

In [18]:
data.to_csv("Coffee_clean_data.csv")